<footer id="site-footer" class="navbar fixed-bottom">
  <div id="social-media">
    <a href="https://christophe.heubes.com" target="_blank" rel="noopener noreferrer" aria-label="christophe.heubes.com"><img src="/assets/img/com.jpg" class="rounded-circle" /></a>
    <a href="https://www.instagram.com/christophe.uw/" target="_blank" rel="noopener noreferrer" aria-label="Instagram @christophe.uw"><i class="fab fa-instagram ms-3"></i></a>
    <a href="https://www.instagram.com/christophe.hbs/" target="_blank" rel="noopener noreferrer" aria-label="Instagram @christophe.hbs"><i class="fab fa-instagram ms-3"></i></a>
    <a href="https://www.goodreads.com/christophehbs/" target="_blank" rel="noopener noreferrer" aria-label="Goodreads"><i class="fas fa-book-open ms-3"></i></a>
    <a href="https://open.spotify.com/user/42christophe/" target="_blank" rel="noopener noreferrer" aria-label="Spotify"><i class="fab fa-spotify ms-3"></i></a>
  </div>
  <div class="mt-2 mt-md-0" id="license">
    <a rel="license noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{ page.lang }}" target="_blank" aria-label="{% if page.lang == 'fr' %}Licence Creative Commons BY-NC-SA 4.0{% else %}Creative Commons License BY-NC-SA 4.0{% endif %}">
      <i class="fab fa-creative-commons"></i>
      <i class="fab fa-creative-commons-by"></i>
      <i class="fab fa-creative-commons-nc-eu"></i>
      <i class="fab fa-creative-commons-sa"></i>
      <span>CC BY-NC-SA 4.0</span>
    </a>
  </div>
  <div id="lang">
    {%- assign pages=site.pages | where:"ref", page.ref | sort: 'lang' -%}
    {%- for page in pages -%}
        &nbsp;<a href="{{ page.url }}" aria-label="{% if page.lang == 'fr' %}Français{% else %}English{% endif %}">{{ page.flag }}</a>&nbsp;
    {%- endfor -%}
  </div>
</footer>
