<div id="vcard" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-4 text-center"><img id="profile-picture" class="rounded-circle" src="/assets/img/photo.jpg" alt="Christophe Heubès"/></div>
    <div class="col-md-2 text-center py-3">&nbsp;</div>
    <div class="col-md-2 text-center py-3"><a href="https://www.instagram.com/christophe.uw/" target="_blank"><i class="fab fa-instagram fa-5x"></i></a></div>
    <div class="col-md-2 text-center py-3"><a href="https://www.instagram.com/christophe.inthecity/" target="_blank"><i class="fab fa-instagram fa-5x"></i></a></div>
    <div class="col-md-2 text-center py-3"><a href="https://open.spotify.com/user/42christophe/" target="_blank"><i class="fab fa-spotify fa-5x"></i></a></div>
  </div>
</div>
