<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  {% include header.html %}

  <div class="container-fluid">
    <div class="row">
      <div class="portfolio col-md-6 px-5 py-5">
        <a href="{{ page.permalink }}uw-photos">
          <div class="row">
            <div class="col-md-2 icon align-middle">📸</div>
            <div class="col-md-10 desc align-middle">{{ page.about-uw-photos }}</div>
          </div>
        </a>
        <a href="{{ page.permalink }}itc-photos">
          <div class="row">
            <div class="col-md-2 icon align-middle">📸</div>
            <div class="col-md-10 desc align-middle">{{ page.about-itc-photos }}</div>
          </div>
        </a>
      </div>
      <div class="portfolio col-md-6 px-5 py-5">
        <a href="https://www.samettof.org/" target="_blank">
          <div class="row">
            <div class="col-md-2 icon align-middle">🌏</div>
            <div class="col-md-10 desc align-middle">{{ page.about-s-t }}</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
