<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  {% include header.html %}

  <div id="photo-gallery" class="container-fluid">
    <!-- Place <div> tag where you want the feed to appear -->
    <div id="{{ page.layout-id }}"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
  </div>
  {% include footer.html %}

  <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
  <script type="text/javascript">
  /* curator-feed-uw-layout */
  (function(){
  var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
  i.src = "https://cdn.curator.io/published/{{ page.src-hash }}.js";
  e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
  })();
  </script>

</body>

{% include scripts.html %}

</html>
